:root {
  /* Fonts */
  --titles-font-family: 'Poppins', sans-serif;
  --text-font-family: 'League Spartan', sans-serif;
  --special-font-family: 'Roboto Mono', monospace;

  /* Colors */
  --background-color: #1A1D27;
  --primary-color: #FF3B7F;
  --secondary-color: #ABD2FF;
  --grey-color: #9896AD;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}